<div id="form" class="container">
  <h2>EDIT YOUR INFORMATION</h2>
</div>

<form class="form" method="POST" action="/farmers/<%= farmer._id %>?_method=PUT">

  <% include ../partials/farmer-form %>

</form>
