<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>EDIT:</h3>
      <form class="form" method="POST" action="/<%= farmer._id %>?_method=PUT">
        <% include ../partials/farmer-form %>
        <a href="/todos/<%= todo._id %>" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
