<div>
  <h3>Edit your information:</h3>
  <form class="form" method="POST" action="/farmers/<%= farmer._id %>?_method=PUT">

    <% include ../partials/farmer-form %>

    <a href="/farmers/<%= farmer._id %>" class="btn btn-primary">Back</a>
    <button type="submit" class="btn btn-success">Save</button>

  </form>
</div>
