
<div>
  <h1>Farmers in your area:</h1>

  <% farmers.forEach(function(farmer){ %>
  <h4>
    <a href="/farmers/<%= farmer._id %>"><%= farmer.name %></a>
    City: <%= farmer.address.city %>
    Organic: <%= farmer.details.organic %>
  </h4>
  <% })%>
</div>
