<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>New Farmer</h3>
      <form class="farmer-form" action="/farmers" method="post">
        <% include ../partials/farmer-form %>
        <a href="/farmers" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
