<div id="form" class="container-fluid">
 <h1>The Authors</h1>

  <div class="row center">

    <div class="col-md-4">
        <img class="Pix" src="images/Loren.png" alt= "Loren's Photo" height="342" width="342">
        <h6>Keep in touch with Loren!</h6>
      <div class="LinkedIn"><h3>LinkedIn: <a href="https://www.linkedin.com/in/lorenmcrawford">My Profile</a></h3></div>
    </div>

    <div class="col-md-4">
        <img class="Pix" src="images/Via.jpg" alt= "Via's Photo" height="342" width="342">
        <h6>Keep in touch with Guivia!</h6>
       <div class="LinkedIn"><h3>LinkedIn: <a href=""> My Profile</a></h3></div>
    </div>

    <div class="col-md-4">
        <img class="Pix" src="images/selfie.jpg" alt= "Ian's Photo" height="342" width="342">
        <h6>Keep in touch with Ian!</h6>
       <div class="LinkedIn"><h3>LinkedIn: <a href="https://www.linkedin.com/in/iannarcissecousar">
       My Profile</a></h3></div>
    </div>
  </div>
</div>
