<div class= "container">
<h1><%= title %></h1>

<h5> "We pick it, you click it!" </h5>



<div class="imgWrap">
 <img src="./images/arrows.png">
  <div class= "imgDescription">
      <ul>
<li> Locally grown food tastes and looks better. </li>
<li> Local food is better for you. The shorter the time between the farm and your table, the less likely it is that nutrients will be lost.</li>
<li> Local food is safe. There's a unique kind of assurance that comes from looking a farmer in the eye at farmers' market or driving by the fields where your food comes from.</li>
      </ul>
    </div>
  </div>

<div class="imgWrap_Shovel">
 <img src="./images/shovel.png">
  <div class= "imgDescription_Shovel">
    <ul>
<li> Locally grown food tastes and looks better. </li>
     </ul>
    </div>
  </div>





<div class="or-spacer-vertical left">
  <div class="mask"></div>
</div>

<h2>What are the benefits?</h2>


</div>
