<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="../images/olive_logo_project_3.gif">
    <h1><%= title %></h1>

    <p>Welcome to <%= title %>!</p>

  </body>
</html>
