<h1><%= title %></h1>

<p>Welcome to <%= title %>!</p>
<img src="./images/arrows.png">
<div><p>
Yes, why should you buy locally? What are the benefits?
  1. Locally grown food tastes and looks better. The crops are picked at their peak, and farmstead products like cheeses and are hand-crafted for best flavor.
  2. Local food is better for you. The shorter the time between the farm and your table, the less likely it is that nutrients will be lost from fresh food.


</p></div>

