<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class= "container">
      <div class="row">
          <div class="title col-lg-6 col-lg-offset-3">
            <h1><%= title %></h1>
          <h5> "We pick it, you click it!" </h5>
          </div>
          <div class="col-lg-6">  <img src="./images/BAN.png">  </div>
          <div class="col-lg-6">  <img class= "boxes2" src="./images/BAN2.png">  </div>
          </div>
      </div>

    <div class = "wrapper">
      <div class = "row">
        <div class = "search-info col-lg-6 col-lg-offset-1">
          <h4>Select one or more options to find farmers near you!</h4>
        </div>
      </div>
      <div class ="row">
        <div class = "col-lg-5 col-lg-offset-1">
          <!-- TODO: RENDER PRODUCTS CHECKBOXES AS SEARCH CRITERIA-->

          <input id="address" class = "form-control" type="search" placeholder="Coleman River Rd, Clayton, GA 30525">
        </div>

        <div class = "col-lg-1">
          <button class="btn btn-primary btn-lg" type="button" onclick="initialize(), codeAddress(document.getElementById('address').value), fetchPlaces()">Find a farmer!</button>
        </div>
      </div>
    </div>
  </body>
</html>


