<!doctype html>
<html lang="en">
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJZcpHfGvTwdAk5HNVPzctrm-l3qiv_4"
    type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <% include partials/head %>
    <!-- put API stuff -->
  </head>
  <body class="content">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <%- body %>
    </main>


    <div class="push"></div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript">
      scrollPage();
      fetchAddress();
    </script>
  </body>
  <footer class="footer">
      <% include partials/footer %>
  </footer>
</html>
