<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body>
    <header>
      <% include partials/header %>
    </header>

    <main class="container">
      <%- body %>
    </main>

    <div class="push"></div>
    <footer class="footer-area">
      <% include partials/footer %>
    </footer>
  </body>
</html>
