<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>

    <main class="container">
      <%- body %>

      <div class="push"></div>
    </main>

    <footer class="footer">
      <% include partials/footer %>
    </footer>
  </body>
</html>
