<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="content">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <%- body %>
    </main>


    <div class="push"></div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
    function scrollPage() {
      $('html, body').animate({
        scrollTop: $('#name').offset().top
        }, 600);
    }
    scrollPage();
    </script>
  </body>
  <footer class="footer">
      <% include partials/footer %>
  </footer>
</html>
