<div class="wrapper">
  <div>
    <h1>Search Results</h1>

    <% farmers.forEach(function(farmer){ %>
    <h4>
      <a href="/farmers/<%= farmer._id %>"><%= farmer.farm_name %></a>
      <span style="color: red"> City: <%= farmer.address.city %></span>
      <span style="color: red"> City: <%= farmer.products %></span>

    </h4>
    <% })%>
  </div>
</div>
