<div id="form" class="container">
  <h2>REGISTRATION</h2>
</div>
<!-- <div class="wrapper"> -->
  <div id = "sign_up" class="authform">
    <form method="post" action="/signup">
      <div class="row left">
        <h4> * All fields are required.</h4>
        <div class="col-md-3">
        <h3>Information</h3>
          <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control well" type="text" name="name" id="name" required autofocus>
          </div>

          <div class="form-group">
            <label for="farm_name">Farm Name:</label>
            <input class="form-control" type="text" name="farm_name" id="farm_name" required>
          </div>

          <div class="form-group">
            <label for="farm_name">Phone Number:</label>
            <input class="form-control" type="tel" name="phone" id="phone"
                   pattern="^\d{3}-\d{3}-\d{4}$" placeholder="XXX-XXX-XXXX" required>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" id="email"
                   placeholder="example@domain.com" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" pattern=".{8,}" title="Password must be eight or more characters" id="password" required>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
          <h3>Address</h3>
            <label for="street">Street:</label>
            <input class="form-control" type="text" name="street" id="street" required>
          </div>

          <div class="form-group">
            <label for="city">City:</label>
            <input class="form-control" type="text" name="city" id="city" required>
          </div>

          <div class="form-group">
            <label for="state">State:</label>
            <input class="form-control" type="text" name="state" id="state" required>
          </div>

          <div class="form-group">
            <label for="zipcode">Zipcode:</label>
            <input class="form-control" type="text" pattern="\d{5,5}?" title="Zipcode must be five digits. Numbers only" name="zipcode" id="zipcode" required>
          </div>

          <div class="form-group">
            <label for="organic">Are your products organic?</label>
            <input class="form-control" type="checkbox" name="organic" id="organic">
          </div>
        </div>
        <h2>Tell us what you're growing.</h2>
        <hr>
          <div class = "col-md-6">
            <!-- <h3><b>Produce</b></h3> -->
            <div class = "col-md-3">

              <div class="form-group">
                <input type="checkbox" name="apples" id="apples" >
                <label for="apples">Apples</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="bananas" id="bananas" >
                <label for="bananas">Bananas</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="carrots" id="carrots" >
                <label for="carrots">Carrots</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="eggplant" id="eggplant" >
                <label for="eggplant">Eggplant</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="figs" id="figs" >
                <label for="figs">Figs</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="garlic" id="garlic" >
                <label for="garlic">Garlic</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="lettuce" id="lettuce" >
                <label for="lettuce">Lettuce</label>
              </div>
            </div>
            <div class = "col-md-3">
              <div class="form-group">
                <input type="checkbox" name="peppers" id="peppers" >
                <label for="peppers">Peppers</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="pumpkin" id="pumpkin" >
                <label for="pumpkin">Pumpkin</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="potatoes" id="potatoes" >
                <label for="potatoes">Potatoes</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="spinach" id="spinach" >
                <label for="spinach">Spinach</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="squash" id="squash" >
                <label for="squash">Squash</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="tomatoes" id="tomatoes" >
                <label for="tomatoes">Tomatoes</label>
              </div>
              <!-- LC: I added inline style to this input because it was slightly too big for the columns -->
              <div class="form-group">
                <input type="checkbox" name="watermelon" id="watermelon" >
                <label for="watermelon" style = "font-size:0.9em">Watermelon</label>
              </div>
            </div>
            <div class = "col-md-3">
              <div class="form-group">
                <input type="checkbox" name="beef" id="beef" >
                <label for="beef">Beef</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="chicken" id="chicken" >
                <label for="chicken">Chicken</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="duck" id="duck" >
                <label for="duck">Duck</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="lamb" id="lamb" >
                <label for="lamb">Lamb</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="pork" id="pork" >
                <label for="pork">Pork</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="rabbit" id="rabbit" >
                <label for="rabbit">Rabbit</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="venison" id="venison" >
                <label for="venison">Venison</label>
              </div>
            </div>
            <div class = "col-md-3">
              <div class="form-group">
                <input type="checkbox" name="eggs" id="eggs" >
                <label for="eggs">Eggs</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="bread" id="bread" >
                <label for="bread">Bread</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="milk" id="milk" >
                <label for="milk">Milk</label>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <input class="btn btn-default btn-lg" type="submit">
        </div>
      </div>
    </form>
  </div>
<!-- </div> -->

