<div id="form" class="container">
  <h2>Registration</h2>
</div>
<!-- <div class="wrapper"> -->
  <div class="authform">
    <form method="post" action="/signup">
      <div class="row left">
        <h4> * All fields are required.</h4>

        <div class="col-md-6">
        <h3>Information</h3>
          <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control well" type="text" name="name" id="name" required autofocus>
          </div>

          <div class="form-group">
            <label for="farm_name">Farm Name:</label>
            <input class="form-control" type="text" name="farm_name" id="farm_name" required>
          </div>

          <div class="form-group">
            <label for="farm_name">Phone Number:</label>
            <input class="form-control" type="tel" name="phone" id="phone"
                   pattern="^\d{3}-\d{3}-\d{4}$" placeholder="XXX-XXX-XXXX" required>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" id="email"
                   placeholder="example@domain.com" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" pattern=".{8,}" title="Password must be eight or more characters" id="password" required>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
          <h3>Address</h3>
            <label for="street">Street:</label>
            <input class="form-control" type="text" name="street" id="street" required>
          </div>

          <div class="form-group">
            <label for="city">city:</label>
            <input class="form-control" type="text" name="city" id="city" required>
          </div>

          <div class="form-group">
            <label for="state">State:</label>
            <input class="form-control" type="text" name="state" id="state" required>
          </div>

          <div class="form-group">
            <label for="zipcode">Zipcode:</label>
            <input class="form-control" type="text" pattern="\d{5,5}?" title="Zipcode must be five digits. Numbers only" name="zipcode" id="zipcode" required>
          </div>

          <div class="form-group">
            <label for="organic">Are your products organic?</label>
            <input class="form-control" type="checkbox" name="organic" id="organic">
          </div>
        </div>
      </div>
      <hr>
      <div class = "row">
        <h2>Tell us what you're growing.</h2>
          <hr>
        <div class = "col-md-4">
          <h3><b>Produce</b></h3>
          <div class="form-group col-sm-3">
            <label for="apples">Apples:</label>
            <input class="form-control" type="checkbox" name="apples" id="apples" >
          </div>
          <div class="form-group col-sm-3">
            <label for="bananas">Bananas:</label>
            <input class="form-control" type="checkbox" name="bananas" id="bananas" >
          </div>
          <div class="form-group col-sm-3">
            <label for="carrots">Carrots:</label>
            <input class="form-control" type="checkbox" name="carrots" id="carrots" >
          </div>
          <div class="form-group col-sm-3">
            <label for="eggplant">Eggplant:</label>
            <input class="form-control" type="checkbox" name="eggplant" id="eggplant" >
          </div>
          <div class="form-group col-sm-3">
            <label for="figs">Figs:</label>
            <input class="form-control" type="checkbox" name="figs" id="figs" >
          </div>
          <div class="form-group col-sm-3">
            <label for="garlic">Garlic:</label>
            <input class="form-control" type="checkbox" name="garlic" id="garlic" >
          </div>
          <div class="form-group col-sm-3">
            <label for="lettuce">Lettuce:</label>
            <input class="form-control" type="checkbox" name="lettuce" id="lettuce" >
          </div>
          <div class="form-group col-sm-3">
            <label for="peppers">Peppers:</label>
            <input class="form-control" type="checkbox" name="peppers" id="peppers" >
          </div>
          <div class="form-group col-sm-3">
            <label for="pumpkin">Pumpkin:</label>
            <input class="form-control" type="checkbox" name="pumpkin" id="pumpkin" >
          </div>
          <div class="form-group col-sm-3">
            <label for="potatoes">Potatoes:</label>
            <input class="form-control" type="checkbox" name="potatoes" id="potatoes" >
          </div>
          <div class="form-group col-sm-3">
            <label for="spinach">Spinach:</label>
            <input class="form-control" type="checkbox" name="spinach" id="spinach" >
          </div>
          <div class="form-group col-sm-3">
            <label for="squash">Squash:</label>
            <input class="form-control" type="checkbox" name="squash" id="squash" >
          </div>
          <div class="form-group col-sm-3">
            <label for="tomatoes">Tomatoes:</label>
            <input class="form-control" type="checkbox" name="tomatoes" id="tomatoes" >
          </div>
          <div class="form-group col-sm-3">
            <label for="watermelon">Watermelon:</label>
            <input class="form-control" type="checkbox" name="watermelon" id="watermelon" >
          </div>
        </div>
        <div class = "col-md-4">
          <h3><b>Meat</b></h3>
          <div class="form-group col-sm-3">
            <label for="beef">Beef:</label>
            <input class="form-control" type="checkbox" name="beef" id="beef" >
          </div>
          <div class="form-group col-sm-3">
            <label for="chicken">Chicken:</label>
            <input class="form-control" type="checkbox" name="chicken" id="chicken" >
          </div>
          <div class="form-group col-sm-3">
            <label for="duck">Duck:</label>
            <input class="form-control" type="checkbox" name="duck" id="duck" >
          </div>
          <div class="form-group col-sm-3">
            <label for="lamb">Lamb:</label>
            <input class="form-control" type="checkbox" name="lamb" id="lamb" >
          </div>
          <div class="form-group col-sm-3">
            <label for="pork">Pork:</label>
            <input class="form-control" type="checkbox" name="pork" id="pork" >
          </div>
          <div class="form-group col-sm-3">
            <label for="rabbit">Rabbit:</label>
            <input class="form-control" type="checkbox" name="rabbit" id="rabbit" >
          </div>
          <div class="form-group col-sm-3">
            <label for="venison">Venison:</label>
            <input class="form-control" type="checkbox" name="venison" id="venison" >
          </div>

        </div>
        <div class = "col-md-4">
         <h3><b>Other</b></h3>
          <div class="form-group col-sm-3">
            <label for="eggs">Eggs:</label>
            <input class="form-control" type="checkbox" name="eggs" id="eggs" >
          </div>
          <div class="form-group col-sm-3">
            <label for="bread">Bread:</label>
            <input class="form-control" type="checkbox" name="bread" id="bread" >
          </div>
          <div class="form-group col-sm-3">
            <label for="milk">Milk:</label>
            <input class="form-control" type="checkbox" name="milk" id="milk" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input class="btn btn-default btn-lg" type="submit">
        </div>
      </div>
    </form>
  </div>
<!-- </div> -->

