<div>
  <h2>Signup</h2>
  <!-- <form class = 'farmer-form' method="post" action="/signup">
    <% include ../partials/farmer-form %>
    <input class="btn btn-default" type="submit">
  </form> -->
</div>
