html, body {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: url('../images/farm.jpg');
  background-blend-mode: screen;
  background-repeat: no-repeat;
}


h1, h2, h3, label {
  color: white;
  text-align: center;
}

h1 {
  font-family: "Ultra", serif;
  font-size: 4em;
  color: #75142B;
}
h4 {
  color: white;
}

h5 {
  font-family: 'Mrs Sheppards', cursive;
  font-size: 3em;
  text-align: center;
  color: #9b1b57;
}

p {
  color: rgba(255, 255, 255, 0.7);
}

a {
  color: #00B7FF;
}

.container {
  padding-bottom: 50px;
  max-height: 990px;
}

ul {
  color: white;
}

.facts {
  width: 550px;
  background-color:
}

.shovel {
  float: right;
  margin-top: 180px;
}

.content {
  min-height: 100%;
  height: auto !important;
  position: relative;
  margin: 0 auto 0;
  background-color: rgba(202,195,193, 0.6);
}

/**********************/
/******* NAVBAR *******/
.navbar {
  padding: 10px 100px;
  background-color: rgba(1, 1, 1, 0.3);
  border: 0;
  border-bottom: 1px solid;
  border-color: #666666;
  border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.2em;
  font-family: "Righteous", cursive;
}

.navbar-brand:hover{
  color: #00B7FF !important;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #00B7FF;
}
/**********************/
/******** FORM ********/
.wrapper {
  padding: 50px;
  background-color: white;
}
.authform {
  padding: 40px;
  margin: auto auto;
  background-color: rgba(255, 93, 0, 0.5 );
  border-radius: 5px;
  max-width: 80%;
  min-height: auto;
}

.login {
  min-height: 100%;
  padding-top: 60px;
}
.login-form{
  padding: 40px;
  min-height: 230px;
  background-color: rgba(0,0,0, 0.6);
  border-radius: 5px;
}

.bg-danger, .bg-success, .bg-info {
  padding: 20px;
  border-radius: 5px;
}

.form-control {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.cancel {
  margin-top: -15px;
}

/*********************/
/****** FOOTER *******/
.push {
  height: 80px;
}
.footer-area {
  padding-top: 40px;
  margin-bottom: 0;
  width: 100%;
  background-color: #555555;
  height: 80px;
  position: absolute;
    bottom: 0;
}
.text-muted{
  color: #999090;
}

img {
  opacity: .8;
  margin-bottom: 30px;
  margin-top: 15px;
}

.or-spacer-vertical {
  display:inline-block;
  margin-top:100px; margin-left:100px; width:100px;
  position:relative;
}
  .mask {
    overflow: hidden;
    width:20px;
    height:200px;
    //outline:1px solid pink;
  }

  &.left .mask: {
    content:'';
    display:block;
    margin-left:-20px;
    width:20px;
    height:100%;
    border-radius:12px / 125px;
    box-shadow:0 0 8px black;
  }

/*********************/
/****** Hover Animation *******/

.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.imgDescription {
  /*position: absolute;*/
  float: right;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 350px;
  padding: 2px 2px 2px 2px;

  visibility: hidden;
  opacity: 0;
  transition-delay: .5s; /* delays for 1 second */
  -webkit-transition-delay: .3s; /* for Safari & Chrome */
  -webkit-transition: visibility opacity 0.9s;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}


